# **Exercise 1 Python**

Python Course - Sekolah Data - Pacmann Academy

Materi yang diujikan pada exercise ini adalah
1. A Good First Program
2. Primitive Data Structure
3. Boolean
4. Branching

## **A Good First Program**

### **Printing**

**Case Study 1**

#### **1a**
Cobalah tampilkan nama Anda menggunakan perintah print!

In [1]:
# Code in here 
...

#### **1b**
Cobalah print text di bawah ini!

Saya sedang belajar melakukan perintah print pada Python

In [2]:
# Code in here 
print("Saya sedang belajar melakukan perintah print pada Python")

Saya sedang belajar melakukan perintah print pada Python

#### **1c**
- Misalkan terdapat sebuah segitiga dengan tinggi 3 cm dan alas 2 cm.
- Cobalah print tinggi dari segitiga tersebut!

In [3]:
# Code in here 
print(3)

3

### **Variabel**

**Case Study 2**

- Variabel merupakan tempat menyimpan sebuah nilai ataupun data.
- Kita dapat membuat variabel dengan menggunakan syntax sebagai berikut: 
```python
nama_variabel = <nilai>
```
- Nilai dapat berupa teks maupun angka/bilangan.

#### **2a**
Misalkan kita ingin membuat sebuah variabel yang menyimpan nama kita

- Nama Variabel = nama
- Isi dari Variabel = "nama kita"

In [4]:
# Code in here 
nama = "Rahman Aziz"

#### **2b**
Misalkan kita ingin membuat sebuah variabel yang menyimpan text **"Saya sedang belajar membuat variabel"**

- Nama Variabel = text
- Isi dari Variabel = "Saya sedang belajar membuat variabel"

In [5]:
# Code in here 
text = "Saya sedang belajar membuat variabel"

#### **2c**
Perhatikan contoh variabel di bawah ini!
```python
tinggi_trapesium_yang_saya_miliki = 5
```

Pada Video Learning sebelumnya, kita telah belajar mengenai Bad and Good Variables. Contoh variabel di atas merupakan variabel yang buruk. Buatlah variabel yang baik dari contoh di atas!

In [6]:
# Code in here 
trapezoid_height = 5

### **More Printing!!**

**Case Study 3**

Setelah sebelumnya kita telah mempelajari mengenai variabel, maka sekarang kita akan belajar bagaimana caranya menampilkan isi dari variabel yang telah kita buat sebelumnya.

Misalkan kita membuat variabel yang akan menyimpan nama dan umur seseorang. Kemudian kita ingin menampilkan isinya.

- nama = "Mark Zuckerberg"
- umur = 38

#### **3a**
Tampilkanlah isi dari variabel nama!

In [7]:
# Code in here
nama = "Mark Zuckerberg"
umur = 38
print(nama)

Mark Zuckerberg

#### **3b**
Tampilkanlah isi dari variabel umur!

In [8]:
# Code in here
print(umur)

38

#### **3c**

Apakah output yang akan dihasilkan dari potongan *code* di bawah ini?
- nama = "Mark Zuckerberg"
- umur = 38
- print(Ini adalah %s. Beliau berumur %s tahun." % (nama, umur))

In [9]:
# Code in here
print(f"Ini adalah {nama}. Beliau berumur {umur} tahun.")

Ini adalah Mark Zuckerberg. Beliau berumur 38 tahun.

### **Commenting**

**Case Study 4**
- Commenting merupakan sebuah komentar yang digunakan untuk memperjelas maksud dari sebuah proses ataupun sebuah perintah. 
- Apabila dijalankan commenting tidak akan melakukan eksekusi apapun.
- Commenting diperlukan untuk mempermudah kita mengerti suatu program. 
- Commenting juga akan mempermudah orang lain yang hendak membaca program kita kelak.

#### **4a**

- tinggi_trapesium = 4 cm
- print(tinggi_trapesium)

Berilah komentar pada code di atas menggunakan inline comment!

In [10]:
# Code in here 
tingi_trapesium = 4 # assign nilai tinggi trapesium ke dalam variabel
print(tingi_trapesium) # menampilkan isi variabel

4

#### **4b**
Berilah comment pada code di bawah ini!

In [11]:
# Code in here 
# Masukkan comment di titik - titik di bawah ini

# menampilkan teks
print("17 Agustus adalah hari kemerdekaan Indonesia")

17 Agustus adalah hari kemerdekaan Indonesia

#### **4c**

Terdapat dua code di bawah ini

- luas_persegi = sisi_persegi * sisi_persegi # mencari luas persegi
- luas_persegi = sisi_persegi * sisi_persegi # Ini adalah baris yang digunakan untuk mencari luas persegi sebagai hasil perkalian sisi persegi dengan sisi persegi

Manakah code yang memiliki komentar yang baik?

Isi jawaban di titik - titik di bawah ini

Code yang pertama itu yang bagus, karena singkat dan jelas

### **Error**


Ketika mendapati suatu error, ada beberapa langkah yang dapat kita lakukan untuk dapat mengatasinya, yaitu:
- Perhatikan error outputnya
- Cobalah untuk googling mengenai error tersebut
- Kemudian cobalah code yang telah digoogling sebelumnya
- Apabila masih belum *solve*, cobalah untuk googling kembali

**Case Study 5**

Pak Joko memiliki 3 orang anak. Setiap hari ia selalu memberikan uang saku kepada ketiga anaknya dengan rincian sebagai berikut:
- Anak Pertama: 25.000
- Anak Kedua 15.000
- Anak Ketiga 10.000

#### **5a**
Misalkan kita melakukan print pada uang jajan anak pertama menggunakan perintah dibawah ini:

In [12]:
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000

PRINT(anak1):

SyntaxError: invalid syntax (2117679338.py, line 5)

In [15]:
#Code in here
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000
print(anak_1)

25000

#### **5b**
Misalkan kita melakukan print pada uang jajan anak kedua menggunakan perintah dibawah ini:

In [ ]:
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000

print(ANAK_2)

NameError: ignored

In [16]:
# Code in here
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000

print(anak_2)

15000

#### **5c**
Misalkan kita ingin menjalankan potongan code di bawah ini

- print("Uang saku anak pertama adalah 25.000")
    - print("Uang saku anak kedua adalah 15.000")
- print("Uang saku anak ketiga adalah 10.000")

In [17]:
print("Uang saku anak pertama adalah 25.000")
  print("Uang saku anak kedua adalah 15.000")
print("Uang saku anak ketiga adalah 10.000")

IndentationError: unexpected indent (2501009975.py, line 2)

In [18]:
# Code in here
print("Uang saku anak pertama adalah 25.000")
print("Uang saku anak kedua adalah 15.000")
print("Uang saku anak ketiga adalah 10.000")

Uang saku anak pertama adalah 25.000
Uang saku anak kedua adalah 15.000
Uang saku anak ketiga adalah 10.000

# **Primitive Data Structure**

### Case 1: Tanah Pak Banu

Pak Banu memiliki sebidang tanah berbentuk Persegi Panjang dengan panjang 80 meter dan lebar 50 meter.

![1.jpg](https://i.postimg.cc/MTCgHnn2/1.jpg)

#### **1A** 

Berapakah luas tanah Pak Banu ?

In [19]:
# definisikan variabel panjang dan lebar 
panjang = 80
lebar = 50
# cari luas tanah menggunakan rumus luas persegi
# luas persegi = panjang * lebar
luas_persegi = panjang * lebar

# tampilkan luas tanah
print(f"Luas tanah Pak Banu = {luas_persegi} m^2")

Luas tanah Pak Banu = 4000 m^2

#### **1B** 
Pak Banu berencana untuk menanaminya dengan pohon jeruk. Jika pohon jeruk akan ditanam di tanah yang Pak Banu miliki, dan jarak antar pohon 5 * 5 meter, berapakah jumlah bibit pohon jeruk yang dibutuhkan Pak Banu ?

![12.jpg](https://i.postimg.cc/sXXptmmw/12.jpg)

```
Keterangan : 
Rumus menghitung jumlah pohon
jumlah pohon di sisi panjang = (panjang tanah / jarak pohon ) + 1
jumlah pohon di sisi lebar = (lebar tanah / jarak pohon ) + 1
total pohon = jumlah pohon di sisi panjang * jumlah pohon di sisi lebar

```

In [20]:
# definisikan variabel constant jarak antar pohon
from functools import total_ordering


d_pohon = 5

# hitung jumlah bibit pohon
# pakai variabel panjang dan lebar tanah di soal 1A
pohon_sisi_panjang = (panjang / d_pohon) + 1
pohon_sisi_lebar = (lebar / d_pohon) + 1
total_pohon = pohon_sisi_lebar * pohon_sisi_panjang
# tampilkan jumlah bibit pohon jeruk
print(f"Total pohon di tanah Pak Banu: {total_pohon}")

Total pohon di tanah Pak Banu: 187.0

#### **1C** 

Diketahui saat panen setiap pohon akan menghasilkan rata-rata 15 kg jeruk. Pak Banu menjual jeruk tersebut dengan harga 18.000 per kilogram. Berapakah pendapatan **(revenue)** yang didapatkan Pak Banu jika diasumsikan seluruh jeruk terjual ?


```
Keterangan:
rumus revenue = jumlah barang * harga
```

In [21]:
# definisikan variabel jumlah hasil per pohon dan harga per kilogram jeruk
jeruk_per_pohon = 15
harga_per_kg = 18000
# cari total keseluruhan total berat jeruk terlebih dahulu
# pakai variabel total pohon yang dibutuhkan pada soal 1C
# hitung dahulu hasil total jeruk = hasil per pohon * jumlah pohon
total_kg_jeruk = total_pohon * jeruk_per_pohon

# hitung pendapatan atau revenue
revenue = total_kg_jeruk * harga_per_kg

# tampilkan revenue yang didapatkan
print(f"Revenue yang didapatkan = {revenue:.0f}")

Revenue yang didapatkan = 50490000

#### **1D**

Jika modal yang dibutuhkan untuk pekerja, pupuk, obat tanaman, peralatan, dll adalah sekitar 9.000.000 rupiah, berapakah keuntungan bersih yang didapatkan Pak Banu ?



```
Keterangan : 
rumus laba bersih = total pendapatan - total pengeluaran
```

In [22]:
# definisikan variabel untuk biaya berkebun
modal = 9000000

# hitung untung bersih yang didapatkan
# Gunakan variabel revenue dari soal nomer 1C
laba = revenue - modal

# tampilkan keuntungan bersih yang didapatkan
print(f"Keuntungan bersih yang didapatkan = {laba:.0f}")

Keuntungan bersih yang didapatkan = 41490000

### Case 2: Donat Bu Ida

Bu Ida baru saja merintis berjualan kue donat. Dalam 10 kue donat menghabiskan dana sekitar Rp 70.000 untuk bahan-bahan dan Rp 10.000 untuk operasional.

####**2A**
Hitunglah biaya produksi 10 kue donat Bu Ida

```
keterangan:
biaya produksi = biaya bahan + biaya operasional
```

In [23]:
# definisikan variabel biaya bahan dan biaya operasional
operasional = 10000
bahan = 70000
# hitung biaya produksi
produksi = bahan + operasional

# tampilkan biaya produksi 10 donat yang sudah di hitung
print(f"Biaya produksi 10 donat Bu Ida = Rp {produksi}")

Biaya produksi 10 donat Bu Ida = Rp 80000

#### **2B**

Jika Bu Ida ingin mendapatkan keuntungan sebanyak 20%, berapa harga donat per biji yang harus ditetapkan ?
```
keterangan :
harga jual produk = biaya produksi + (prosentase keuntungan * biaya produksi)
```

In [24]:
# definisikan variabel prosentase keuntungan
margin = 0.2

# hitung harga jual produk
harga_jual = produksi + (produksi * margin)

# perlu diketahui bahwa harga di atas adalah harga 10 produk
# untuk mengetahui harga per biji maka harus dibagi 10
# hitung harga per produk
harga_per_produk = harga_jual / 10

# tampilakn harga kue donat per biji
print(f"Harga donat per biji = {harga_per_produk:.0f}")

Harga donat per biji = 9600

### Case 3: Dana Pensiun Bruno

Bruno adalah seorang pekerja swasta. Supaya tidak menggantungkan diri kepada anaknya dia ingin menyiapkan dana untuk masa pensiun nanti. Untuk itu, Bruno mengikuti program dana pensiun dari suatu lembaga keuangan.  Dengan asumsi Bruno akan pensiun dari pekerjaanya pada usia 55 tahun dan usia yang bisa di ikuti dalam program dana pensiun tersebut adalah sampai 80 tahun.

#### **3A**

Jika total biaya hidup Bruno saat ini adalah sekitar 4.000.000 per bulan. Berapakah tabungan pensiun yang harus disiapkan ?



```
keterangan:
biaya pensiun = biaya hidup per bulan x 12 (jumlah bulan dalam satu tahun) x rentang umur
```

In [25]:
# definisikan variabel biaya hidup per bulan
biaya_per_bulan = 4000000

# definisikan variabel umur saat pensiun
# dan umur maksimal pada program dana pensiun
target_pensiun = 55
max_coverage = 80

# hitung rentang umur saat mengikuti program dana pensiun
# rentang umur = umur max - umur pensiun
rentang_umur = max_coverage - target_pensiun

# hitung biaya pensiun yang dibutuhkan
biaya_pensiun = biaya_per_bulan * 12 * rentang_umur

# tampilkan hasil perhitungan biaya pensiun
print(f"Biaya pensiun yang harus disiapkan Bruno = {biaya_pensiun}")

Biaya pensiun yang harus disiapkan Bruno = 1200000000

#### **3B**
Jika saat ini Bruno berusia 25 tahun. Berapakah gaji yang harus disisihkan per bulan untuk tabungan pensiunnya ?

In [26]:
# definisikan umur Bruno sekarang
umur_bruno = 25

# hitung lama bruno harus menabung
# lama menabung = umur pensiun - umur sekarang
lama_menabung = target_pensiun - 25

# hitung jumlah tabungan dalan satu tahun yang harus dikumpulkan
# tabungan dalam satu tahun = biaya pensiun / lama menabung
tabungan_per_tahun = biaya_pensiun / lama_menabung

# hitung tabungan per bulan yang harus dikumpulkan
# tabungan per bulan = jumlah tabungan dalam satu tahun / 12 (jumlah bulan)
tabungan_per_bulan = tabungan_per_tahun / 12

# tampilkan hasil perhitungan tabungan per bulan 
print(f"tabungan per bulan untuk pensiun Rp{tabungan_per_bulan:.2f}")

tabungan per bulan untuk pensiun Rp3333333.33

### Case 4: Data Administrator

Seorang Data Administrator di Perusahaan S yang baru saja masuk ke kantor diberi task oleh bosnya untuk mengambil data seorang karyawan. Datanya sebagai berikut:

| Nama | NIK | Jenis Kelamin | Alamat | Jabatan |
|-|-|-|-|-|
|Enzo Ferdinand | 223312 | Laki-Laki | Jl. Mawar No. 13, Kota A | Marketing Staff|

####**4A**

Ambil karakter pertama dari nama awal karyawan tersebut, kemudian ambil juga nama terakhir. Setelah itu gabungkan keduanya sehingga menjadi `E. Ferdinand`

In [40]:
# definisikan variabel nama karyawan dahulu
nama_karyawan = "Enzo Ferdinand"

# lakukan slicing untuk mendapatkan karakter pertama nama awal
char_pertama = nama_karyawan[0]

# lakukan slicing untuk mendapatkan nama terakhir
nama_belakang = nama_karyawan[nama_karyawan.find(" "):]

# gabungkan nama awal dan nama terakhir
nama_final = f"{char_pertama}. {nama_belakang}"

# tampilkan nama yang sudah digabung
print(nama_final)

E.  Ferdinand

#### **4B**

Posisi Manager Marketing di Perusahaan tersebut sedang kosong karena suatu hal. Pimpinan perusahaan mempromosikan E. Ferdinand di posisi tersebut karena pekerjaannya memberi pengaruh besar kepada perusahaan. Ubah jabatan karyawan tersebut dari Marketing Staff menjadi Marketing Manager.

In [41]:
# definisikan variabel untuk menampung jabatan karyawan tersebut
jabatan = "Staff"

# ganti kata Staff menjadi Manager
jabatan = "Manager"

# tampilkan nama karyawan dan jabatannya sekarang
print(jabatan)

Manager

### Case 5: Analisa Lirik Lagu

Alexa sangat menyukai band Bonjovi, terutama lagunya yang berjudul `it's my live`. Sangking sukanya Alexa sampai membuat analisis pada bagian reff lagu tersebut

In [29]:
lyrics =  ''' 
It's my life
It's now or never
But I ain't gonna live forever
I just want to live while I'm alive
It's my life
My heart is like an open highway
Like Frankie said, I did it my way
I just want to live while I'm alive
It's my life
'''

#### 5A

Sebelum melakukan analisis baiknya dilakukan pembersihan data dahulu. Beberapa caranya adalah:
- Membuat huruf menjadi kecil semua,  
- Menghilangkan karakter yang tidak diinginkan seperti tanda petik (`'`) dan tanda koma (`,`)



Catatan :

Untuk **menghilangkan** suatu karakter bisa menggunakan method `replace`. Maksudnya karakter tersebut **diganti atau di-replace** dengan **empty string** `("")`

Contoh :

Kita akan menghilangkan huruf `"b"` dari kata `"bisa"`
```
NAMA_VAR = "bisa"
NAMA_VAR = NAMA_VAR.replace('b', "")
# output
print(NAMA_VAR)
"isa"
```

In [43]:
# buatlah huruf di variabel lyrics menjadi huruf kecil semua
# lyrics_lower = lyrics.copy()
lyrics_lower = lyrics.lower()

# hilangkan tanda petik dengan method replace
lyrics_lower = lyrics_lower.replace("'", "")

# hilangkan tanda koma dengan method replace
lyrics_lower = lyrics_lower.replace(",","")

# tampilakn lirik yang sudah di lakukan pembersihan data
print(lyrics_lower)

its my life
its now or never
but i aint gonna live forever
i just want to live while im alive
its my life
my heart is like an open highway
like frankie said i did it my way
i just want to live while im alive
its my life

####**5B**

Berapa banyak karakter dalam lirik tersebut?

In [56]:
# definisikan variabel dan hitung banyak karakter dengan method python
count_chars = len(lyrics_lower)

# tampilkan banyak karakter dalam lirik tersebut
print(f"Banyak karakter dalam lirik: {count_chars}")

Banyak karakter dalam lirik: 222

In [60]:
def count_words(words, keyword):
    import re
    '''
    Count how many words in a string
    returns number of words (int)
    '''
    split_words = re.split("\s", lyrics_lower)
    list_of_words = [word for word in split_words if word != ""]
    
    counter = 0
    for word in list_of_words:
        if word == keyword: counter += 1
    
    return counter

#### **5C**

Berapakah banyak kemunculan kata `life` dalam lirik tersebut

In [62]:
# definisikan variabel dan hitung kemunculan kata life dengan method python
n_life = count_words(lyrics_lower, 'life')

# tampilkan banyak kemunculan kata tersebut
print(f"banyak kemunculan kata 'life': {n_life}")

banyak kemunculan kata 'life': 3

####**5D**

Berapakah prosentase kemunculan karakter `life` dalam lagu tersebut
```
keterangan:
prosentase = (jumlah kemunculan / total karakter) * 100
```

In [64]:
# definisikan variabel dan hitung prosentase kemunculan karakter life
percent_life = n_life * 100 / count_chars

# tampilkan prosentase kemunculan karakter life dalam lirik tersebut
print(f"persentase kemunculan 'life': {percent_life:.2f}")

persentase kemunculan 'life': 1.35

# **Boolean**

Buatlah variabel boolean dengan nama variabel_1 dan variabel_2 masing masing True dan False

In [65]:
# Code in here
var_1 = True
var_2 = False

Gunakan variabel_1 dan variabel_2 sebelumnya dengan operasi boolean tidak sama dengan

In [66]:
# Code in here
var_1 != var_2

True

Cek nilai bolean dari operasi berikut: 10 >= 11

In [67]:
# Code in here
10 >= 11

False

Buatlah operasi boolean dengan pernyataan 6 lebih besar 7  dengan  dari 1

In [37]:
# Code in here

Ubahlah operator pada operasi boolean diatas sehingga menghasilkan nilai boolean yang berkebalikan

In [38]:
# Code in here

Masukkan nilai variabel a sehingga nilai boolean dari operasi berikut bernilai True

In [68]:
# Code in here
a = 11 #nilai apapun yang melebih atau sama dengan nilai 10
b = 10

a >= b

True

Tambahkan operasi dibawah ini kedalam python menggunakan variabel a dan b sebelumnya

    a tidak sama dengan b dan a lebih besar dari b

In [70]:
# Code in here
(a != b) & (a > b)

True

Buatlah variabel angka_1 lalu buatlah sesuai dengan pernyataan operasi berikut

    angka_1 lebih besar sama dengan 6 tidak sama dengan angka_1 lebih kecil dari 12 

Buatlah agar mengeluarkan output True

In [71]:
# Code in here
angka_1 = 7
(angka_1 >= 6) & (angka_1 < 12)

True

Ubahlah operator tidak sama dengan menjadi operator logic and pada operasi sebelumnya. buatlah agar output booleannya menjadi False:

In [72]:
# Code in here

Cek apakah jarak rumah budi ke sekolah 250 meter, lebih jauh dari jarak rumah tono ke sekolah 223 meter.

In [73]:
# Code in here
jarak_rumah_budi = 250 #meter
jarak_rumah_tono = 222 #meter

jarak_rumah_budi > jarak_rumah_tono

True

Cek apakah jika nama Cynthia dan nama Cynth'ia itu sama dengan menggunakan operator boolean

In [74]:
# Code in here
"Cynthia" == "Cynth'ia"

False

Masukkan nilai ke dalam variable a, b dan c sehingga nilai boolean dari operasi logika berikut menjadi False (untuk angkanya bebas)

    (a > b AND a > c ) OR (b < c)

In [80]:
a = 3
b = 5
c = 2

((a > b) & (a > c)) | (b < c)

False

Dengan operasi logika sebelumnya ubah nilai variabel sehingga menjadi True

In [81]:
a = 6
b = 2
c = 5

((a > b) & (a > c)) | (b < c)

True

Cek apakah nilai x lebih kecil atau sama dengan y bila diketahui: y = 3$x^{2}$ + 4x - 27 dan x = 3

In [82]:
# Code in here
x = 3
y = 3 * x**2 + 4*x - 27
x <= y

True

Dari soal sebelumnya, jika ditambahkan nilai z = 3x + 5$y^{2}$ - 18, tentukan hasil operasi berikut :

    (z > y) AND (x < z OR x >= y)

In [83]:
# Code in here
z = 3*x + 5*y**2 -18
(z > y) & (x < z | x >= y)

True

<details>
    <summary><b>Klik untuk melihat kunci jawaban</b></summary>

```python
z = 3*x + 5*y**2 - 18

(z>y) and (x<z or x >=y)
```

</details>

---

# **Branching**

Buatlah program yang menentukan apakah seseorang dapat membuat SIM atau tidak. Batas usia minimum pembuatan SIM adalah 18 tahun.

In [84]:
# Code in here
usia = int(input("Masukkan usia Anda :"))

if usia >= 18:
    print("Anda sudah diperbolehkan untuk membuat SIM")
else:
    print("Anda belum diperbolehkan untuk membuat SIM")

Anda sudah diperbolehkan untuk membuat SIM

Buat program yang mengecek apakah sebuah variable memiliki tipe data string, float atau integer

In [89]:
# Code in here

var = 123.123

print(type(var))

<class 'float'>

Buatlah program yang mengecek apakah sebuah bilangan habis di bagi 5 atau tidak

In [91]:
# Code in here

angka_1 = 32

def factor_of_five(number):
    return f"{number} habis dibagi 5" if number % 5 == 0 else f"{number} tidak habis dibagi 5"

print(factor_of_five(angka_1))

32 tidak habis dibagi 5

Cek yang manakah paragraf di bawah ini yang memilik jumlah karakter lebih banyak?

    lirik_1 = 
            "This ain't a song for the broken-hearted No silent prayer for faith-departed And I ain't gonna be just a face in the crowd You're gonna hear my voice when I shout it out loud"
            
    lirik_2 = 
            "Yeah, this is for the ones who stood their ground For Tommy and Gina,
            who never backed down Tomorrow's getting harder, make no mistake Luck
            ain't even lucky, got to make your own breaks"

In [93]:
# Code in here

lirik_1 = '''This ain't a song for the broken-hearted 
No silent prayer for faith-departed And I ain't gonna be just 
a face in the crowd You're gonna hear my voice when I shout it out loud'''
lirik_2 = '''
Yeah, this is for the ones who stood their ground For Tommy and Gina, who 
never backed down Tomorrow's getting harder, 
make no mistake Luck ain't even lucky, got to make your own breaks'''

karakter_lebih_banyak = "lirik_1 memiliki karakter lebih banyak" if len(lirik_1) > len(lirik_2) else "lirik_2 memiliki karakter lebih banyak"
print(karakter_lebih_banyak)

lirik_2 memiliki karakter lebih banyak

Minimaket "AAA" memberikan diskon 10% bagi pelanggan yang total belanjannya diatas Rp. 100.000. Ani belanja di minimarket A dengan rincian belanja sebagai berikut:


| barang      | Sub total harga  |
|-------------|--------|
| 1 Sabun Mandi | 25000  |
| 2 Sabun Cuci| 2 x 18000 |
| 1 Kotak Susu | 48000  |
| 2 Pasta Gigi | 2 x 11000  |



Buat program yang menentukan apakah total belanja Ani mendapat diskon atau tidak. Cetak total belanja yang harus di bayar Ani.

In [97]:
# Code in here
belanjaan_ani = {"sabun mandi": 25000, "sabun cuci": 2*18000, "susu": 48000, "pasta gigi": 2*11000}

def pembayaran(belanja):
    total_belanja = sum(belanja.values())
    
    if total_belanja > 100000:
        total_stlh_diskon = total_belanja * (1 - 0.1)
        return f"Anda mendapatkan diskon sebesar 10%. Total belanja yang harus Anda bayar: {total_stlh_diskon}"
    
    return f"Anda tidak mendapatkan diskon. Total belanja yang harus Anda bayar: {total_belanja}"

print(pembayaran(belanjaan_ani))

Anda mendapatkan diskon sebesar 10%. Total belanja yang harus Anda bayar: 117900.0

Buatlah program yang menentukan kategori generasi seseorang berdasarkan tahun lahirnya. Kondisi pengkategoriannya sebagai berikut:
 - Baby boomer, kelahiran 1944 s.d 1964
 - Generasi X, kelahiran 1965 s.d 1979
 - Generasi Y (Millenials), kelahiran 1980 s.d 1994
 - Generasi Z, kelahiran 1995 s.d 2015

In [100]:
# Code in here
umur = int(input("Masukkan tahun lahir Anda: "))

def tebak_generasi(usia):
    if usia <= 1964:
        return "Baby boomer"
    elif usia <= 1979:
        return "Generasi X"
    elif usia <= 1994:
        return "Generasi Y"
    else:
        return "Generasi Z"

print(tebak_generasi(umur))

Generasi X

Dinas Kesehatan ingin melakukan vaksinasi tahap 1, dengan syarat, warga yang akan di vaksin berprofesi sebagai petugas pelayanan umum seperti TNI, Polri Perawat atau Dokter. Di luar profesi tersebut maka ia bukan prioritas program vaksinasi. Jika usia petugas pelayanan umum kurang dari 50 tahun maka akan di berikan vaksin buatan Sinovac namun jika berusia 50 tahun ke atas maka akan diberikan vaksin Novavax.

note: soal di atas hanya fiktif

In [106]:
# Code in here
def vaksinasi(profesi, usia):
    prioritas = ["TNI", "POLRI", "PERAWAT", "DOKTER"]
    
    if profesi.upper() in prioritas:
        if usia < 50:
            print(f"Anda akan diberikan vaksin Sinovac")
            return
        print(f"Anda akan diberikan vaksin Novavax")
        return

    print("Mohon maaf Anda belum termasuk prioritas vaksin untuk saat ini")

vaksinasi("konsultan", 49)

Mohon maaf Anda belum termasuk prioritas vaksin untuk saat ini

Buatlah program yang menerima input bilangan (x), kemudian akan melakukan perintah berikut:
- n bernilai 8
- Jika x ganjil, maka print "ganjil"
- Jika x genap dan berada pada rentang 2 sampai 7, print (genap di bawah 7)
- Jika x genap dan berada pada rentang 8 sampai 28, print (genap antara 8-28)
- Jika x genap dan lebih besar dari 28, print (genap antara ditas 28)

In [113]:
# Code in here
def categorize_number(number):
    if number % 2 != 0:
        print("Ganjil")
        return
    
    if 2 < number < 7:
        print("Genap di bawah 7")
        return
    if 8 < number < 28:
        print("Genap antara 8-28")
        return
    if number > 28:
        print("Genap di atas 28")
        return

angka = int(input("Masukkan sebuah angka"))
categorize_number(angka)

Ganjil

Buatlah program yang mengkonversi nilai 1-100 kedalam bentuk nilai (A, B, C, D, F). dengan syarat:

- Nilai 90 hingga 100 dikonversi menjadi A
- Nilai 80 hingga 89 dikonversi menjadi B
- Nilai 70 hingga 79 dikonversi menjadi C
- Nilai 65 hingga 69 dikonversi menjadi D
- dan dibawah nilai 65 dikonversi menjadi F

In [114]:
# Code in here
def konversi_nilai(nilai):
    if nilai > 90:
        print("A")
    elif nilai > 80:
        print("B")
    elif nilai > 70:
        print("C")
    elif nilai > 65:
        print("D")
    else:
        print("F")

konversi_nilai(65)

F

Diberikan tiga buah variabel a, b dan c yang masing-masing berisi nilai integer. Tentukan yang variabel manakah yang memiliki nilai terbesar?

In [121]:
# Code in here
def find_max(*numbers):
    """
    Takes multiple args
    returns largest numbers
    """
    largest = numbers[0]
    for number in numbers:
        if largest < number:
            largest = number

    print(largest)

find_max(10, 54, -1)

54

Buatlah program yang menentukan apakah sebuah nilai merupakan bilangan negatif, positif, atau nol.

In [124]:
# Code in here
def natural_number(number):
    """
    Takes a number and specify whether it is\n
    positive, negative, or zero.
    """
    if number < 0:
        print("Negative")
    elif number > 0:
        print("Positive")
    else:
        print("Zero")

natural_number(0)

Zero

Buatlah program untuk mencari siapa yang tertua dari 3 orang.
   
    * Input: 
    ```
        orang_1 = 40 
        orang_2 = 25 
        orang_3 = 37
    ```
    * Output:
        ```
        Orang yang tertua adalah orang pertama
        ```

In [133]:
# Code in here
def tentukan_tertua(*usia):
    tertua = usia[0]
    for umur in usia:
        if tertua < umur:
            tertua = umur

    print(f"Orang tertua adalah orang ke-{usia.index(tertua)+1}")

orang_1 = 40
orang_2 = 25
orang_3 = 37

tentukan_tertua(orang_1, orang_2, orang_3)

Orang tertua adalah orang ke-1

Sebuah perusahaan akan memberikan bonus 10% dari gaji masing-masing pegawai kepada pegawainya jika pegawainya telah bekerja selama minimal 5 tahun.

    * Input:
```
kasus 1: gaji = 5000 ; masa bakti = 2
kasus 2: gaji = 10000; masa bakti = 6
```
    * Output:
```
kasus 1: Tidak ada bonus
kasus 2: Bonus adalah 500
```

In [134]:
# Code in here

def bonus(gaji, masa_bakti):
    if masa_bakti >= 5:
        print(f"Anda mendapatkan bonus sebesar {gaji*0.1}")
        return
    print("Mohon maaf Anda belum berhak mendapatkan bonus")

bonus(5000, 2)
bonus(10000, 6)

Mohon maaf Anda belum berhak mendapatkan bonus
Anda mendapatkan bonus sebesar 1000.0

Buatlah Program Nested Branching Menentukan tahun kabisat dengan ketentuan 

1. Jika satu tahun habis dibagi 4 dan tidak ada sisa, lanjutkan ke langkah berikutnya. Jika tidak habis dibagi 4. Bukan tahun kabisat.
2. Jika suatu tahun habis dibagi 4, tetapi tidak habis dibagi 100, itu adalah tahun kabisat. Jika satu tahun habis dibagi 4 dan 100, lanjutkan ke langkah berikutnya.
3. Jika suatu tahun habis dibagi 100, tetapi tidak habis dibagi 400 maka itu bukan tahun kabisat. Jika tahun habis dibagi keduanya maka tahun tersebut adalah tahun kabisat.

    * Input:
```
kasus 1: tahun = 2024
kasus 2: tahun = 2013
```
    * Output:
```
kasus 1: 2024 adalah tahun kabisat
kasus 2: 2013 bukan tahun kabisat
```

In [135]:
# Code in here
def kabisat(tahun):
    if tahun % 4 != 0:
        print(f"{tahun} bukan tahun kabisat")
    else:
        if tahun % 100 != 0:
            print(f"{tahun} adalah tahun kabisat")
        else:
            if tahun % 400 != 400:
                print(f"{tahun} bukan tahun kabisat")
            else:
                print(f"{tahun} adalah tahun kabisat")

kabisat(2024)
kabisat(2013)

2024 adalah tahun kabisat
2013 bukan tahun kabisat

Buatlah program nested branching menentukan nilai
  1. Jika presensi kurang dari atau sama dengan tiga, lanjut ke langkah berikutnya
  2. Jika avarage nilai lebih atau sama dengan 80 maka "nilai A"
  3. Jika avarage nilai lebih atau sama dengan 70 maka "nilai B"
  4. Jika avarage nilai lebih atau sama dengan 60 maka "nilai C"
  5. Lainnya maka "nilai D"
  6. Jika presensi lebih dari itu maka "nilai X"


    * Input:
```
skenario 1: presensi = 2 ; average_nilai = 80
skenario 2: presensi = 4 ; average_nilai = 70
```
    * Output:
```
skenario 1: nilai A
skenario 2: nilai X
```

In [136]:
# Code in here
def nilai(presensi, rerata):
    if presensi <= 3:
        if rerata >= 80:
            print("nilai A")
        elif rerata >= 70:
            print("nilai B")
        elif rerata >= 60:
            print("nilai C")
        else:
            print("niali D")
    else:
        print("nilai X")

nilai(2, 80)
nilai(4, 70)

nilai A
nilai X