In [1]:
print("hello")

hello

In [2]:
import pandas as pd

In [3]:
list_data = [5, 2, 1, 1]
index_data = ['IDMF', 'TRDF', 'GODF', 'DETN']
series_data = pd.Series(list_data, index=index_data)
series_data

IDMF    5
TRDF    2
GODF    1
DETN    1
dtype: int64

In [4]:
dict_data = {'IDMF': 5, 'TROF': 2, 'GODF': 1, 'DETN': 1}
series_data2 = pd.Series(dict_data)
series_data2

IDMF    5
TROF    2
GODF    1
DETN    1
dtype: int64

In [7]:
series_data2[['IDMF', 'TROF']]

IDMF    5
TROF    2
dtype: int64

In [9]:
series_data2[::-1]

DETN    1
GODF    1
TROF    2
IDMF    5
dtype: int64

In [10]:
series_data[-3:]

TRDF    2
GODF    1
DETN    1
dtype: int64

In [11]:
series_data2 * 5

IDMF    25
TROF    10
GODF     5
DETN     5
dtype: int64

In [22]:
dict_data2 = {
    'nama_barang': ['Indomie', 'Taro', 'Good Day', 'Detergen'],
    'jenis_barang': ['food', 'food', 'food', 'nonfood'],
    'jumlah': [5, 2, 1, 1]
}

df = pd.DataFrame(dict_data2, index=[*range(1, 5)])
df

  nama_barang jenis_barang  jumlah
1     Indomie         food       5
2        Taro         food       2
3    Good Day         food       1
4    Detergen      nonfood       1

In [23]:
df['nama_barang']

1     Indomie
2        Taro
3    Good Day
4    Detergen
Name: nama_barang, dtype: object

In [24]:
df.loc[:, ['nama_barang', 'jenis_barang']]

  nama_barang jenis_barang
1     Indomie         food
2        Taro         food
3    Good Day         food
4    Detergen      nonfood

In [25]:
df.iloc[3, :]

nama_barang     Detergen
jenis_barang     nonfood
jumlah                 1
Name: 4, dtype: object

In [30]:
new_row = pd.DataFrame({
    'nama_barang': 'Pasta Gigi',
    'jenis_barang': 'nonfood',
    'jumlah': 4
}, index = [5])
new_row

  nama_barang jenis_barang  jumlah
5  Pasta Gigi      nonfood       4

In [33]:
df2 = pd.concat([df, new_row], axis=0)
df2

  nama_barang jenis_barang  jumlah
1     Indomie         food       5
2        Taro         food       2
3    Good Day         food       1
4    Detergen      nonfood       1
5  Pasta Gigi      nonfood       4

In [34]:
df2['jumlah'] = df2['jumlah'].astype('float')
df2

  nama_barang jenis_barang  jumlah
1     Indomie         food     5.0
2        Taro         food     2.0
3    Good Day         food     1.0
4    Detergen      nonfood     1.0
5  Pasta Gigi      nonfood     4.0